<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="tack_new_label">Create new tack</h4>
</div>
<div class="modal-body">
    <%= form_for [@board, @tack] do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, :class => "form-control" %> <br>
        <%= f.label :description %>
        <%= f.text_field :description, :class => "form-control" %> <br>
        <%= f.label :top %>
        <%= f.number_field :top, :class => "form-control" %> <br>
        <%= f.label :left %>
        <%= f.number_field :left, :class => "form-control" %> <br>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit "Create", :class => "btn btn-primary" %>
</div>
<% end %>
